.dashbaord{
text-align: center;
margin-top: 200px;
}
.headerDash{
  color: antiquewhite;
  font-size: 300%;
}

.signIn { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative; 
  font-size: 250%;
  font-weight: bold; 
  height: 250%; 
  padding: 10px 20px; 
  background: white; 
  overflow: hidden; 
  border-radius: 10px; 
  border: 2px solid; 
  color: #000535; 
  z-index: 1; 
  transition: 0.5s all ease; 
} 

.signIn:hover { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000535; 
  cursor: pointer; 
  border: 0px; 
} 

.signIn:active { 
  transform: scale(0.85); 
} 

.signIn:before { 
  content: ""; 
  width: 50%; 
  height: 100%; 
  margin: auto; 
  position: absolute; 
  top: 0%; 
  left: -50%; 
  top: -100%; 
  background:  aqua; 
  transition: all 0.6s ease; 
  z-index: -1; 
} 

.signIn:hover:before { 
  top: 0; 
  left: 0; 
  border: 0px; 
  transform: rotate(180deg); 
} 

.signIn:after { 
  content: ""; 
  width: 50%; 
  height: 100%; 
  margin: auto; 
  position: absolute; 
  top: 0%; 
  left: 100%; 
  top: 100%; 
  background:  aqua;
  transition: all 0.6s ease; 
  z-index: -1; 
} 

.signIn:hover:after { 
  top: 0; 
  left: 50%; 
  border: 0px; 
  transform: rotate(180deg); 
}
.signoutButton{
font-size: 20px;
background-color: aqua;
padding: 10px;
border-radius: 12px;
font-weight: bold;
color: #000535;
}
.card{
  margin-left: 250px;
  margin-top: 40px;
}
.userImage{
  border-radius: 50%;
border-color: aliceblue;
}
.userName{
  font-size: 250%;
  color: antiquewhite;
  
}
.userEmail{
font-size: 250%;
color: antiquewhite;
}